
/* GENERAL */

.main_body {
    background-color: white;
    font-family: 'Gill Sans', sans-serif;
    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

button, input[type="submit"].button  {
    width: 100%; /* Full width of the container */
    padding: 10px; /* Add padding for better appearance */
}

.menu_button, input[type="submit"].button{
    margin-top: 20px;
}

.item {
    height: 300px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
    width: calc(50% - 10px);
    margin-bottom: 10px;
}

.h1 {
    margin-bottom: 20px;
}

p {
    text-align: left;
}

h2 {
    text-align: left;
}

.form {
    margin-bottom: -10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.form-column {
    flex: 1;
    margin-right: 5px;
}
.form-column:last-child {
    margin-right: 0;
}

.not_visible {
    display: none;
}


/* LANDING PAGE */

.landing_page_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.landing_page_menu .item img {
    max-width: 140px;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.landing_page_menu .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing_page_menu .item:hover {
    filter: invert(100%);
}

.landing_page_menu .item:hover img {
    transform: scale(1.1);
}

.landing_page_menu .item:hover .item_text {
    font-size: 1.2em;
}

.landing_page_menu .item .item_text {
    font-family: 'Gill Sans', sans-serif;
    font-weight: bold;
    transition: font-size 0.3s ease;
    display: block;
}

.landing_page_menu .item a {
    text-decoration: none;
    color: inherit;
}

.landing_page_body{
    background-color: white;
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing_page_container {
    width: 50%;
}


/* EXTRACTION */ 

.dfg-container img {
    width: 100%;
    max-width: none;
    height: auto;
}


.dfg-container {
    display: flex;
    justify-content: space-between;
}


/* PATIENT JOURNEY GENERATOR */

.selection_body{
    background-color: white;
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.selection_container {
    width: 50%;
}

/* LOGOS */

.img {
    max-width: 100%;
    margin-bottom: 20px;
    display: block;
}

.landing_page_logo {
    max-width: 700px;
    margin-bottom: 10px;
    margin-top: 200px;
    display: block;
    margin: 0 auto;
}

.selection_logo {
    max-width: 800px;
    margin-bottom: 20px;
    margin-top: -150px;
}

.patient_journey_generator_logo {
    width: 280px; 
    height: auto; 
    }

.extraction_logo {
    width: 350px;
    height: auto;
    display: block;
    margin: 0 auto; 
}

/* PAGE TRANSITIONS */
.landing_page_body, .selection_body, .main_body {
    animation: transitionIn 1s; 
}



@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}