<!DOCTYPE html>
<html lang="EN">
<head>
    <title>TracEX</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/extraction/css/style.css' %}">
    <style>
        button {
            margin: 10px 0; /* Add some margin around buttons */
        }
    </style>
</head>

<body class="selection_body">
    <div class="selection_container">
        <img src="{% static '/extraction/img/TraceEx_v2.svg' %}" alt="TracEX Logo" class="selection_logo">
        <h1>Welcome to TracEX</h1>
        <p>In this prototype of our pipeline you may either provide a patient journey yourself, or generate it with ChatGPT.</p>

        <a href="{% url 'journey_generation' %}">
            <button>Generate Patient Journey</button>
        </a>

        <a href="{% url 'landing_page' %}">
            <button>Return to TracEX menu</button>
        </a>
    </div>
</body>
</html>
