<head>
    <title>Upload Journey</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/extraction/css/progress-bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/tracex/css/style.css' %}">
    <script src="{% static '/extraction/js/progress-bar.js' %}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% csrf_token %}
    <style>
        .previous_button{
            margin-bottom: 15px;
        }
    </style>
</head>


<body class="main_body">
    <img src="{% static '/tracex/img/extraction_logo.png' %}" alt="Extraction Logo" class="extraction_logo">
    <h2>Filter Selection for Extraction Results</h2>
    <p> You can filter the results by event type and location before and after extraction to get exactly what you need. </p>
    <p>Please select the filter below.</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-column">
                {{ form.event_types.label_tag }} {{ form.event_types }}
                {{ form.event_types.errors }}
            </div>
            <div class="form-column">
                {{ form.locations.label_tag }} {{ form.locations }}
                {{ form.locations.errors }}
            </div>
        </div>

        <div id="progress_box" class="not_visible">
            <div class="progress-container">
                <!-- Progress bar and message will be added here -->
            </div>
        </div>

        <input type="submit" value="Execute Extraction Pipeline" id="execute_button" class="button">
    </form>
    

    <a href="{{ request.META.HTTP_REFERER }}">
        <button class="menu_button">Previous</button>
    </a>
    <a href="{% url 'landing_page' %}">
        <button class="menu_button">Return to TracEX menu</button>
    </a>
</body>
