<!DOCTYPE html>
<html lang="en">
<title>Generation</title>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/tracex/css/loading-spinner.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/tracex/css/new_styles.css' %}">
    <script src="{% static '/patient_journey_generator/js/loading-spinner.js' %}" defer></script>
</head>

<body class="main_body">
    <div class="selection_container">
    {% if generated_journey %}
    <img src="{% static '/tracex/img/patient_journey_generator_logo.png' %}" alt="Patient Journey Generator Logo" class="patient_journey_generator_logo not_visible">
    <h2>Generated Journey</h2>
    <p>{{ generated_journey }}</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="patient_journey_generator_form">
            <div class="form-row">
                <div class="form-column">
                    {{ form.journey.label_tag }} {{ form.journey }}
                    {{ form.journey.errors }}
                    <p>{{ form.journey.help_text }}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    {{ form.name.label_tag }} {{ form.name }}
                    {{ form.name.errors }}
                </div>
            </div>
        </div>
        <div class="spinner-container" id="loading-container">
            <span id="loading-spinner" class="loader not_visible"></span>
        </div>
        <input type="submit" value="Select Generated Patient Journey" class="menu_button">
    </form>
    {% else %}

    <img src="{% static '/tracex/img/patient_journey_generator_logo.png' %}" alt="Patient Journey Generator Logo" class="patient_journey_generator_logo">
    <h1>Welcome to the Patient Journey Generator of TracEX</h1>
    <p>Our innovative tool enables you to simulate a synthetic COVID-specific disease course. Before generating the journey, personal factors such as <span class="highlight">age</span>, <span class="highlight">sex</span>, and <span class="highlight">nationality</span> are randomized, allowing you to explore diverse scenarios and outcomes. Once the journey is generated, refine your analysis by extracting an event log. Customize your experience by applying filters to delve deeper into the simulated patient's progression.</p>
    <div class="spinner-container" id="loading-container">
        <span id="loading-spinner" class="loader not_visible"></span>
    </div>
    {% endif %}

    <a href="{% url 'journey_generation' %}">
        <button id="generate_button" class="function_button">Generate New Patient Journey</button>
    </a>

    <a href="{% url 'landing_page' %}">
        <button class="menu_button">Return to TracEX menu</button>
    </a>
</div>
</body>
</html>
