<!--
HTML File for the JourneyGenerationOverviewView

Displays an explanation how the generation of a Patient Journey works. If a Patient Journey has been generated, the generated journey is displayed.
The user can select the generated journey by providing a name for the journey and clicking the "Select Generated Patient Journey" button.
The form is submitted as a POST request to the JourneyGenerationOverviewView, which will save the generated journey with the provided name.

Also provides two buttons:
- Generate New Patient Journey: Redirects to the journey generation page. Sends a GET request to the JourneyGenerationView, which will generate a new Patient Journey.
- Return to TracEX menu: Redirects to the landing page.
-->
<!DOCTYPE html>
<html lang="en">
<title>Generation</title>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/tracex/css/loading-spinner.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/tracex/css/styles.css' %}">
    <script src="{% static '/patient_journey_generator/js/loading-spinner.js' %}" defer></script>
</head>

<body class="main_body">
    <div class="selection_container">
    {% if generated_journey %}
    <img src="{% static '/tracex/img/patient_journey_generator_logo.png' %}" alt="Patient Journey Generator Logo" class="patient_journey_generator_logo">
    <h2>Generated Process Descriptions</h2>
    <p>{{ generated_journey|safe }}</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    </form>
    {% else %}

    <img src="{% static '/tracex/img/patient_journey_generator_logo.png' %}" alt="Patient Journey Generator Logo" class="patient_journey_generator_logo">
    <h1>Welcome to the Process Description Generator of TracEX</h1>
    <p>This tool enables you to generate multiple instances of process descriptions for the selected configuration.
        If you do not select a suitable configuration, the default "Patient Journey" configuration will be used.
        You can select to what degree the instances should differ from each other, how many instances should be created and whether you want to save them to the database or as a text file.
        <br><br>
        Please note that our extraction pipeline can currently only handle process descriptions of the type "Patient Journey".
    </p>
    <hr class="solid">
    <p></p>
    {% endif %}

    <form method="post" action="{% url 'journey_generation' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-column">
                {{ form.degree_of_variation.label_tag }} {{ form.degree_of_variation }}
            </div>
            <div class="form-column">
                {{ form.save_to_db.label_tag }} {{ form.save_to_db }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                {{ form.number_of_instances.label_tag }} {{ form.number_of_instances }}
            </div>
            <div class="form-column">
                {{ form.save_as_txt.label_tag }} {{ form.save_as_txt }}
            </div>
        </div>
        <div>
            <div class="form-column">
                {{ form.config.label_tag }} {{ form.config }}
            </div>
        </div>
        <input type="submit" class="function_button" value="Generate new Process Description">
    </form>

    <a href="{% url 'landing_page' %}">
        <button class="menu_button">Return to TracEX Menu</button>
    </a>
</div>
</body>
</html>
