<!DOCTYPE html>
<html lang="en">
<title>Comparison</title>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/tracex/css/style.css' %}">
</head>
<style>
    body {
        padding-top: 20px; /* Add padding to the top of the body */
    }
</style>
<body class="selection_body">
    <div class="selection_container">
    <h1>Extraction Result</h1>

    <h2>Patient Journey: {{ patient_journey_name }}</h2>
    <p>{{ patient_journey }}</p>
    <p><b>This is the event log extracted from the journey above (single trace)</b></p>
    <div id="xesContent1" style="text-align: center;">
        {{ xes_html|safe }}
    </div>


    <form method="post" action="{% url 'testing_result' %}">
        {% csrf_token %}
        <button type="submit" class="menu_button" name="compare_button">Start Comparing Against Ground Truth</button>
    </form>

    <a href="{% url 'landing_page' %}">
        <button class="menu_button">Return to TracEX menu</button>
    </a>
</div>
</body>
</html>
