<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Journey</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/tracex/css/styles.css' %}">
</head>

<body class="main_body">
    <img src="{% static '/tracex/img/extraction_logo.png' %}" alt="Extraction Logo" class="extraction_logo">
    <h2>Content of "{{ patient_journey.name }}"</h2>
    {{ patient_journey.patient_journey }}

    <form method="post" action="{% url 'journey_details' pk=patient_journey.pk %}">
        {% csrf_token %}
        <input type="submit" class="function_button" value="Confirm Selection">
    </form>
    <a href="{% url "journey_select" %}">
        <button class="menu_button">Return to previous Page</button>
    </a>
    <a href="{% url "landing_page" %}">
        <button class="menu_button">Return to TracEX Menu</button>
    </a>
</body>
</html>
