<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Journey</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/tracex/css/style.css' %}">
</head>

<body class="main_body">
    <img src="{% static '/tracex/img/extraction_logo.png' %}" alt="Extraction Logo" class="extraction_logo">
    <h2>Select Patient Journey from Database</h2>
    <p> The extraction pipeline helps you extract XES Event Logs from Patient Journeys. You can filter the results by event type and location before and after extraction to get exactly what you need. </p>
    <p>Please select the patient journey you want to upload below.</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for journey in all_patient_journeys %}
            <input type="radio" name="journey" value="{{ journey.id }}">
            <label for="{{ journey.id }}">{{ journey.name }}</label><br>
        {% endfor %}
        <input type="submit" value="Select Journey" class="button">
    </form>

    <a href="{% url 'landing_page' %}">
        <button class="menu_button">Return to TracEX menu</button>
    </a>
</body>
</html>