<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Journey</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/tracex/css/style.css' %}">
</head>

<body class="main_body">
    <img src="{% static '/tracex/img/extraction_logo.png' %}" alt="Extraction Logo" class="extraction_logo">
    <h2>Select Patient Journey from Database</h2>
    <p>Please select a patient journey from the database below.</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="menu_button">Next</button>
    </form>

    <a href="{% url "choose_input_method" %}">
        <button class="menu_button">Return to input selection</button>
    </a>
    <a href="{% url "landing_page" %}">
        <button class="menu_button">Return to TracEX menu</button>
    </a>
</body>
</html>
