<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/tracex/css/style.css' %}">
</head>
<body class="main_body">
    <img src="{% static '/tracex/img/error.png' %}" alt="Error" class="error_logo">
    <h1>{{ type }}</h1>
    <p>An error occurred while executing the pipeline. Please try executing the pipeline again.</p>
        <div>
            <p class="error_traceback">Error Traceback</p>
            <textarea class="error_textarea" readonly>{{ error_traceback }}</textarea>
        </div>
    <a href="{% url 'landing_page' %}">
        <button class="menu_button">Return to TracEX menu</button>
    </a>
</body>
</html>