<!DOCTYPE html>
<html lang="EN">
<head>
    <title>TracEX</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/tracex/css/style.css' %}">
</head>

<body class="landing_page_body">
    <div class="landing_page_container">
        <img src="{% static '/tracex/img/TraceEx_v2.svg' %}" alt="TracEX Logo" class="landing_page_logo">
        <div class="landing_page_menu">
            <div class="item patient_journey_generator" style="display: flex;">
                <a href="{% url 'journey_generator_overview' %}" style="width: 100%;">
                <img src="{% static '/tracex/img/patient_journey_generator_logo.png' %}" alt="Patient Journey Generator Logo" class="patient_journey_generator_logo">
                <span class="item_text">Patient Journey Generator</span>
                </a>
            </div>
            <div class="item extraction" style="display: flex;">
                <a href="{% url 'choose_input_method' %}" style="width: 100%;">
                <img src="{% static '/tracex/img/extraction_logo.png' %}" alt="Extraction Logo" class="extraction_logo">
                <span class="item_text">Extraction Pipeline</span>
                </a>
            </div>
            <div class="item db_results" style="display: flex;">
                <a href="{% url 'db_results_overview' %}" style="width: 100%;">
                <img src="{% static '/tracex/img/database_results_logo.png' %}" alt="Datbase Results Logo" class="database_results_logo">
                <span class="item_text">Database Results</span>
                </a>
            </div>
            <div class="item testing_environment" style="display: flex;">
                <a href="{% url 'testing_environment' %}" style="width: 100%;">
                <img src="{% static '/tracex/img/test_environment_logo.png' %}" alt="Test Environment Logo" class="test_environment_logo">
                <span class="item_text">Trace Testing Environment</span>
                </a>
            </div>

        </div>
    </div>
</body>
</html>
