<!DOCTYPE html>
<html lang="EN">
<head>
    <title>TracEX</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/tracex/css/style.css' %}">
    <script src="{% static '/tracex/js/forms_open_ai_key.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</head>
<body class="landing_page_body">
    <div class="landing_page_container">
        <img src="{% static '/tracex/img/TraceEx_v2.svg' %}" alt="TracEX Logo" class="landing_page_logo">
        <div class="landing_page_menu">
            <div class="item patient_journey_generator">
                <a href="{% url 'journey_generator_overview' %}">
                    <img src="{% static '/tracex/img/patient_journey_generator_logo.png' %}" alt="Patient Journey Generator Logo" class="patient_journey_generator_logo">
                    <span class="item_text">Patient Journey Generator</span>
                </a>
            </div>
            <div class="item extraction">
                <a href="{% url 'journey_input' %}">
                    <img src="{% static '/tracex/img/extraction_logo.png' %}" alt="Extraction Logo" class="extraction_logo">
                    <span class="item_text">Extraction Pipeline</span>
                </a>
            </div>
            <div class="item result_dashboard">
                <img src="{% static '/tracex/img/result_dashboard_logo.png' %}" alt="Result Dashboard Logo" class="result_dashboard_logo">
                <span class="item_text">Results Dashboard</span>
            </div>
            <div class="item testing_environment">
                <a href="{% url 'testing_environment' %}">
                    <img src="{% static '/tracex/img/test_environment_logo.png' %}" alt="Test Environment Logo" class="test_environment_logo">
                    <span class="item_text">Trace Testing Environment</span>
                </a>
            </div>
        </div>
    </div>
   {% if prompt_for_key %}
<div class="modal fade" id="apiKeyModal" tabindex="-1" role="dialog" aria-labelledby="apiKeyModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="apiKeyModalLabel">API Key Needed</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="api_key">Enter your OpenAI API Key</label>
                        <input type="text" class="form-control" id="api_key" name="api_key" placeholder="API Key" required>
                        <div class="invalid-feedback">
                            Please provide an API Key.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Save API Key</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#apiKeyModal').modal('show');
    });
</script>
{% endif %}
</body>
</html>
