.main_body {
    background-color: white;
    font-family: 'Gill Sans', sans-serif;
    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 100%; /* Full width of the container */
    padding: 10px; /* Add padding for better appearance */
}

.selection_body{
    background-color: white;
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.selection_container {
    width: 50%;
}

.selection_logo {
            max-width: 800px;
            margin-bottom: 20px;
            margin-top: -150px;
}
