
/* GENERAL */

.main_body {
    background-color: white;
    font-family: 'Gill Sans', sans-serif;
    width: 80%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
}

button, input[type="submit"].button  {
    width: 100%; /* Full width of the container */
    padding: 10px; /* Add padding for better appearance */
}

.menu_button, input[type="submit"].button{
    margin-top: 15px;
}

.item {
    height: 300px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
    width: calc(50% - 10px);
    margin-bottom: 10px;
}

.h1 {
    margin-bottom: 20px;
}

p {
    text-align: left;
}

h2 {
    text-align: left;
}

.form {
    margin-bottom: -10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.form-column {
    flex: 1;
    margin-right: 5px;
}
.form-column:last-child {
    margin-right: 0;
}

.not_visible {
    display: none;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
}

.patient_journey_generator_form .form-row {
    display: flex;
    justify-content: center;
}
.patient_journey_generator_form .form-column {
    text-align: center;
}

#id_name {
    width: 15%;
}

#id_name::placeholder {
    text-align: center;
}

/* TABLE STYLING */

.dataframe { width: 100%; border-collapse: collapse; font-family: Arial, sans-serif; }
.dataframe th, .dataframe td { padding: 8px; text-align: center; }
.dataframe thead { background-color: #c2c0c0; }
.dataframe tbody tr:nth-child(even) { background-color: #f9f9f9; }
.dataframe tbody tr:nth-child(odd) { background-color: #f9f9f9; }
.dataframe tbody tr:hover { background-color: #f1f1f1c3; }
.dataframe th, .dataframe td { border: 1px solid rgba(54, 54, 54, 0.509); }

/* LANDING PAGE */

.landing_page_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.landing_page_menu .item img {
    max-width: 140px;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.landing_page_menu .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing_page_menu .item:hover {
    filter: invert(100%);
}

.landing_page_menu .item:hover img {
    transform: scale(1.1);
}

.landing_page_menu .item:hover .item_text {
    font-size: 1.2em;
}

.landing_page_menu .item .item_text {
    font-family: 'Gill Sans', sans-serif;
    font-weight: bold;
    transition: font-size 0.3s ease;
    display: block;
}

.landing_page_menu .item a {
    text-decoration: none;
    color: inherit;
}

.landing_page_body{
    background-color: white;
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.landing_page_container {
    width: 50%;
}


/* EXTRACTION */

.dfg-container img {
    width: 100%;
    max-width: none;
    height: auto;
}


.dfg-container {
    display: flex;
    justify-content: space-between;
}

/* DATABASE RESULTS */

.button-container {
    display: flex;
    gap: 10px;
}

.button-container a {
flex: 1;
}

.menu_button {
width: 100%;
}


/* DASHBOARD */

.dashboard {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.metric-tile {
    flex: 1;
    min-height: 150px;
    background-color: #f1f1f1;
    margin: 0;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: 2px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

.metric-tile:not(:last-child) {
    margin-right: 20px;
}

.metric-tile .info-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.metric-tile .info-text {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.metric-tile .info-icon:hover+.info-text {
    display: block;
}

.metric-content {
    display: inline-block;
    text-align: center;
}

.number-metric, .metric-count {
font-size: 48px;
margin-bottom: 20px;
font-weight: bold;
text-align: center;
}

/* LOGOS */

.img {
    max-width: 100%;
    margin-bottom: 20px;
    display: block;
}

.landing_page_logo {
    max-width: 95%;
    height: auto;
    object-fit: contain;
}


.patient_journey_generator_logo {
    width: 280px;
}

.extraction_logo {
    width: 350px;
}

.test_environment_logo {
    width: 300px;
}

.metrics_dashboard_logo{
    width: 320px;
}

.database_results_logo{
    width: 250px;
}

.patient_journey_generator_logo, .extraction_logo, .test_environment_logo, .metrics_dashboard_logo, .database_results_logo {
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* PAGE TRANSITIONS */
.landing_page_body, .selection_body, .main_body {
    animation: transitionIn 1s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
